<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.Gax" version="2.7.0-beta02" targetFramework="net461" />
  <package id="Google.Api.Gax.Rest" version="2.7.0-beta02" targetFramework="net461" />
  <package id="Google.Apis" version="1.38.2" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.38.2" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.38.2" targetFramework="net461" />
  <package id="Google.Apis.Translate.v2" version="1.38.0.875" targetFramework="net461" />
  <package id="Google.Cloud.Translation.V2" version="1.2.0-beta01" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2-beta1" targetFramework="net461" />
  <package id="System.Interactive.Async" version="4.0.0-preview.1.build.745" targetFramework="net461" />
  <package id="System.Linq.Async" version="4.0.0-preview.1.build.745" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview3.19128.7" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net461" />
</packages>